.Doughnut-Widget{
    height:190px;
    width:190px;
    border-radius: 15px;
    border: 1px;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 0px 6px 0px #0000001A;
}

.Doughnut-Chart-Main{
    position: relative;
    height: 106px;
    width: 106px;
    margin: 23px auto auto;
}

.Doughnut-Chart-Text {
    position: absolute;
    top: 40%;
    left: 29%;
    text-align: center;
    color:"black" 
  }

  .Doughnut-Chart-Text-Number{
    font-family: "Inter";
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
/* margi */
text-align: center;
color: #4F4F4F;


  }


  .Doughnut-Chart-Text-Text{
    position: relative;
    font-family: "Inter";
font-size: 9px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color:#BBBBBB;
top:-5px

  }

