.Table2{
    width: 418px;
    height: 408px;
    border-radius: 15px;
    border: 1px;
    /* background-color: ; */

    border: 1px solid #E6E6E6;
    box-shadow: 0px 0px 6px 0px #0000001A;
    
}


.Table2-Contents{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.Table2-Row{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr;

}

.Table2-Cell{
    position:relative;
    /* position: relative; */
    height: 20px;
}

.Table2-Cell>h1{
    margin: 0;
    font-family: "Inter";
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #474747A6;
    ;
}

.Table2-Header>div>h1.Table2-Header-Cell-1{
    color: #5E5ADB;
    font-weight: 700;

}
.Table2-Header>div>h1{
    color: #ABA8FF;
   

    font-weight: 600;

}

.Table2-Footer{
    /* Just for the vertical lines*/
    /* padding-bottom: 20px; */
}

.Table2-Footer>div>h1{
    color: black;
    font-weight: 600;
    padding-top: 5px;
}


.Table2-Cell:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0px;
    top: -16.7px; /* Adjust this value to position the line right below the headers */
    bottom:0px;
    width: 0.2px;
    /* background-color:  #f2efef; */
    background-color: rgba(246,246,246,0.1);
    ; /* Match this to your table's line color */
}

.Table2-Footer-Cell{
    padding-bottom: 20px;
}

.Table2-Footer-Cell:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom:0px;
    width: 0.2  px;
    /* background-color:  #f2efef; */
    background-color: rgba(246,246,246,0.1);
    /* Match this to your table's line color */
}

/* Adjust the top value of the first row cells to align with the bottom of your headers */
.Table2-Header + .Table2-Row .Table2-Cell:not(:last-child)::after {
    top: 0;
}













/* .Table2-Footer>div>h1.Table2-Footer-Cell-1{
    color: #5E5ADB;
    font-weight: 700;

} */
/* .Table2-Footer>div>h1{
    color: #ABA8FF;
} */

/* .Table2-Header-Cell-1{ */
    /* font-weight: 700; */
    /* color: black; */
/* } */