.Top-Navigation-Bar-Left-Element{
    position: relative;
    width: 127px;
    height: 40px;
    top:auto;
    bottom: auto;
    border-radius: 10px;
    border: 1px solid #e1e1e9;
    cursor: pointer;

}


.Top-Navigation-Bar-Left-Element:hover{
    position: relative;
    width: 127px;
    height: 40px;
    top:auto;
    bottom: auto;
    border-radius: 10px;
    border-width: 1.4px;
    background-color:#F3F2FC;
    color: #5E5ADB;
;
}


.Top-Navigation-Bar-Left-Element-Div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}   

.Top-Navigation-Bar-Left-Element-Text-Actual{
    
    font-family:'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #8D8D8D;
    

}