.Add-Widget-Main-Area{
    position: relative;
    display:flex;
    justify-content: space-evenly;
    top: 20px;
}

.Components-Area-And-Save{
    display: flex;
    flex-direction: column;
    gap: 92px;
}