.Add-Widget-Top-Bar{
    display:flex;
}
.Add-Widget-Top-Bar{
    height: 124px;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #E1E1E1;
    display: flex;
    gap: 25%;
    /* z-index: 3; */
}

.Add-Widget-Top-Bar-Left{
    position: relative;
    left: 31px;
    top: 54px;
    display:flex;
    gap:15px;
}

.Add-Widget-Top-Bar-Text{
    z-index: 1;
}

.Add-Widget-Top-Bar-Text>h1{
    margin: 0;
}

.Add-Widget-Top-Bar-Text-Top{
    font-family: "Inter";
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #5E5ADB;
}

.Add-Widget-Top-Bar-Text-Bottom{
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #888891;

}


.Add-Widget-Multiple-Cicles{
    position:absolute;
    top:-53px;
    left:-33px;
    z-index: 0;
    opacity: 0.5;
}


.Add-Widget-Top-Bar-Right{
    position: relative;
    top: 54px;
}
.Add-Widget-Top-Bar-Input{
    width: 376px;
    height: 36px;
    gap: 6px;
    border-radius: 6px;
    border: 1px solid #CBD5E1;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(137,137, 137,1);
 
}



.Add-Widget-Top-Bar-Right{
    display:flex;
    flex-direction: column;
}


.Add-Widget-Top-Bar-Cross{
    position: relative;
    right:-365px;
    bottom: 10px
}




.Add-Widget-Top-Bar-Input::placeholder {
    color: rgba(191, 183, 183, 0.8); /* Adjust the color and opacity as needed */
  }