.Side-Navigation-Element{
    width: 48px;
    height: 48px;
    position: relative;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;

}

.Side-Navigation-Element:hover{
    position: relative;
    background-color: #E9EDF5;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    

}

.Side-Navigation-Element-Image-Div{
    height: 24px;
    width: 24px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Side-Navigation-Element-Image{
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #667085;
}